# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs related files
.storage
*.log
/cache
/.tmp

AGENTS.md

resources/settings.local.json
resources/config.local.json
resources/.profile.json
dataset-tag-editor-win_x64-test.exe
/example_image
